body {
  font-family: 'Oswald', sans-serif;
  background-color: #5A5A5A;
}

.container {
  text-align: center;
}

h1 {
  font-size: 4em;
  color: #FFFFFF;
}

p {
  font-family: 'Oswald', sans-serif;
  color: #FFFFFF;
}

/*** Button ***/

.newQuote {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  color: #FFFFFF;
  border: none;
  padding: 15px 40px;
  border-radius: 10px;
  background-color: #E43F3F;
}

.newQuote:hover {
  background-color: #F75E5E;
}





/*** Quote ***/

.quote {
  font-family: 'Lora 700 italic', serif;
  font-size: 1.5em;
  width: 600px;
  height: auto;
  margin: 15px auto;
  background-color: #efefef;
  padding: 20px;
  background-color: rgba(255,255,255,0.9);;
  border-radius: 10px;
  color: #000;
  box-shadow: -5px 10px 20px rgba(100,100,100,.8);;
}

.author {
  font-style: italic;
}